<div class="main-content">
    <div class="container-fluid">
      <div class="container">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Ajouter publication</h4>
            </div>
            <div class="card-body">         
              <form [formGroup]="form2">                
                    <div class="row-md-12">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Titre" type="text" formControlName="titre">
                        </mat-form-field>
                    </div>
                    <div class="row-md-12">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Description" type="text" formControlName="description" rows="3">
                        </mat-form-field>
                    </div>
                    <div class="row-md-12">
                        <mat-form-field class="example-full-width">
                        <input matInput placeholder="Catégorie" type="text" formControlName="categorie">
                        </mat-form-field>
                    </div>
                    <div class="row-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Date" type="date" formControlName="date">
                      </mat-form-field>
                    </div>
                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()" [disabled]="form2.invalid" >Enregistrer</button>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
  

